#app
    display: flex
    flex-direction: column
    min-height: 100vh
    justify-content: space-between
    align-items: stretch
    padding-top: 120px

#main-header
    position: fixed
    top: 0
    width: 100%

.admin-bar
    #main-header
        top: 32px

#main-header, #main-footer
    flex: 0 0 auto
    z-index: 99999
#content
    flex: 1 1 auto